@font-face {
  font-family: 'Coolvetica';
  src: url('./coolvetica.ttf');
}

html{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-bar {
 
  left:0;
  top:0;
  color:black;
}

.content {
  top: 40px;
  text-align: center;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}